{endpoint, "http://localhost:9001"}.% Internal MinIO - dev
{public_endpoint, "https://your.hyperbeam-s3-cluster-endpoint.com"}. % Public facing URL, used for presigned URLs
{access_key_id, <<"darwin">>}.
{secret_access_key, <<"darwin123">>}.
{region, <<"eu-west-2">>}.